// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.task-status {
  height: 30px;
  padding-top: 10px;
  border-radius: 5px;
  margin-bottom: 0;
  padding-left: 5px;
  border: 0.5px solid #dedede;
}

.task-description {
  background-color: #eee;
  height: 30px;
  padding-top: 10px;
  border: 0.5px solid #dedede;
  border-radius: 5px;
  padding-left: 5px;
}

